<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width">
        <meta name="HandheldFriendly" content="true"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel=icon href="/static/img/favicon.ico">

        <!-- site properties -->
        <title>{% if title %}{{ title }}{% else %}Christophers Tips{% endif %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="{{ author }}">
        <meta name="keywords" content="{{ keywords }}">

        <!-- typekit -->
        <link rel="stylesheet" href="https://use.typekit.net/wtg5gdq.css">

        <!-- styles -->    
        {% for file in css %}
        <link rel="stylesheet" href="/{{ file }}">
        {% endfor %}       

        {% block includes %}{% endblock %}  
        
        <!-- fontawesome -->
        <link rel="stylesheet" href="/static/css/all.css">

        <!-- google analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127293191-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-127293191-1');
        </script>


    </head>
    <body>

        {% block body %}{% endblock %}

        <!-- jquery -->
        <script src="/static/js/jquery.js"></script>   
        {% for file in js %}  
        <script src="/{{ file }}"></script>
        {% endfor %}
    </body>
</html>