{% extends "./layout.html" %}

{% block body %}
    <div class="book with-summary">
        <div class="book-summary">
            <nav role="navigation">
                {% include "summary.html" %}
            </nav>
        </div>
        <div class="book-body">
            <div class="body-inner">
                <div class="book-header" role="navigation">
                    <a class="btn pull-left js-toolbar-action" aria-label="" href="#"><i class="fa fa-align-justify"></i></a>
                    
                    <!-- Title -->
                    <h2><a href="/" >{{ title }}</a></h2>
                </div>
                <div class="page-wrapper" tabindex="-1" role="main">
                    <div class="page-inner">
                        <section class="normal markdown-section">
                            {{ content }}
                            <p style="border-top: solid rgba(0, 0, 0, .07) 1px;padding-top: 20px;">
                                <span style="font-size: 90%;float: left;">
                                    <small>Last updated {{update_date}}</small>
                                </span>
                                <span class="footer-links">
                                    <a href="https://github.com/christopherpickering"><i class="fab fa-github" style="padding-right: 20px;"></i></a>
                                      <SCRIPT TYPE="text/javascript">
                                      emailE = 'gmail.com'
                                      emailE = ('pher122s' + '@' + emailE)
                                      document.write('<a href="mailto:' + emailE + '"> <i class="fas fa-envelope" style="padding-right: 20px;"></i></a>')
                                        </script>
                                        <NOSCRIPT>
                                          <a href="#"><i class="fas fa-envelope" style="padding-right: 20px;"></i></a>
                                        </NOSCRIPT>
                                    <a href="https://www.linkedin.com/in/christopher-pickering-14bb8810b/"><i class="fab fa-linkedin"></i></a>
                                </span>
                            </p>
                        </section>
                    </div>
                </div>                     
            </div>

            {% if previous and path %}
                <a href="{{ path }}{{ anchor }}" class="navigation navigation-prev {% if not (next and path) %}navigation-unique{% endif %}" aria-label="Previous page: {{ title }}">
                    <i class="fa fa-angle-left"></i>
                </a>
            {% endif %}
            {% if next and path %}
                <a href="{{ path }}{{ anchor }}" class="navigation navigation-next {% if not (previous and path) %}navigation-unique{% endif %}" aria-label="Next page: {{ title }}">
                    <i class="fa fa-angle-right"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}