<ul class="summary">
    <li class="header title" style="text-align: center;"><a href="/">{{ title }}</a></li>
    <li class="divider"></li>
    <div id="accordion">
    {% for group in navigation %}
        {% if group == 'devider' %}
            <li class="divider"></li>
        {% else %}
        
            <li class="header accordion-toggle">{{ group }}</li>
            <div class="accordion-content {% for page in navigation[group] %}{% if navigation[group][page] == page_name %} default{% endif %}{% endfor %}">
            {% for page in navigation[group] %}
            
                <li class="chapter  {% if navigation[group][page] == page_name %} active{% endif %}">
                    <a href="/pages/{{ navigation[group][page] }}.html">{{ page }}</a>
                </li>
           
            {% endfor %}
         </div>
        {% endif %}

    {% endfor %}
    </div>
</ul>

