<ul class="summary">
    <li class="header" style="text-align: center;"><a href="/">{{ title }}</a></li>
    <li class="divider"></li>
    {% for group in navigation %}
        {% if group == 'devider' %}
            <li class="divider"></li>
        {% else %}
            <li class="header">{{ group }}</li>
            {% for page in navigation[group] %}
                <li class="chapter">
                    <a href="/pages/{{ navigation[group][page] }}.html">{{ page }}</a>
                </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>